<div data-controller="modal" data-modal-allow-background-close="false">
  <!-- Modal Container -->
  <div data-modal-target="container" data-action="load@window->modal#open click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="max-h-screen w-full max-w-lg relative">
      <!-- Modal Card -->
      <div class="m-1 bg-white rounded shadow">
        <div class="p-8">
          <h2 class="text-xl mb-4">Setup your first inbox</h2>
          <div id="widget_new_form">
            <%= render "admin/inboxes/form", widget: widget %>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>