<div data-controller="modal" data-modal-allow-background-close="false" id="widget-snippet">
  <!-- Modal Container -->
  <div data-modal-target="container" data-action="modal:open@window->modal#open load@window->modal#open click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="fixed inset-0 flex items-center justify-center hidden overflow-y-auto animated fadeIn" style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="relative w-full max-w-lg max-h-screen">
      <!-- Modal Card -->
      <div class="m-1 bg-white rounded shadow">
        <div class="p-8">
          <h2 class="mb-4 text-xl">Insert this custom html on your website</h2>
          <div class="p-4 text-sm bg-gray-100 rounded">
            <code><%= widget.web_widget_script_v2 %></code>
          </div>
          <%= link_to "Test your widget here", v2_widget_tests_path,target: "_blank", class: "block text-blue-400 mt-4 text-sm" %>
          <div class="flex flex-wrap items-center justify-end mt-6">
            <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" data-action="click->modal#close">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
