<div>
  <%= simple_form_for label, url: "", data: { reflex: "submit->Tag#create", conversation_id: conversation_id } do |f| %>
    <%= f.input :title, placeholder: "Enter to create new label" %>
  <% end %>
</div>
