<div class="flex flex-col justify-between w-24 sidebar">
  <div class="p-5">
    <%= render "admin/shared/logo" %>
  </div>
  <div>
    <%= render "admin/shared/menu" %>
  </div>
  <div class="flex justify-center pb-5">
    <%= render "admin/shared/profile_menu" %>
  </div>
</div>